---
import BaseLayout from '../layouts/Baselayout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Proyects from '../components/Projects.astro';
---

<BaseLayout>
	<section class="bg-slate-800 p-6 mt-8 rounded-lg">
		<Hero
		name="Abinadi Henr铆quez"
		image="/098A3B61-B83D-4CED-804E-A5B738D86AE3_1_105_c.jpeg"
		cargo="Desarrollador Web"
		funcion="Full Stack, Apps de escritorio"
		technologies={['/php_dark.svg','/csharp.svg','/wordpress.svg', '/DIVI 1.svg', '/react.svg', '/astro_dark.svg', '/javascript.svg','/typescript.svg','/html5.svg', '/css.svg', '/bootstrap.svg', '/tailwindcss.svg']}
		contacto={[ { text: 'Linkedin', link: 'https://www.linkedin.com/in/abinadi-henriquez/' }, { text: 'Github', link: 'https://github.com/Devon107' }, {text: 'elmerg.uam@gmail.com', link: 'mailto:elmerg.uam@gmail.com'} ]}
		/>
	</section>
	<section class="bg-slate-800 py-6 px-10 mt-8 rounded-lg">
		<h2 class="text-3xl pb-4">Sobre mi</h2>
		<About
			about="Hola  mi nombre es Abinadi, soy ingeniero en Ciencias de la computaci贸n, con m谩s de 5 a帽os de experiencia en la creaci贸n de aplicaciones web. Especializado en JavaScript, HTML, CSS, Laravel, Astro, React y Wordpress."
		/>
	</section>
	<section class="bg-slate-800 py-6 px-10 mt-8 rounded-lg">
		<h2 class="text-3xl pb-4">Experiencia laboral</h2>
		<Experience 
			cargo="Web Developer" 
			initial="Octubre,2021" 
			finish="-" 
			company="Vertikal"
			descript="Actualmente desarrollo sitios web y landing pages empleando Wordpress y theme Divi."
			technologies={['/php_dark.svg','/wordpress.svg', '/DIVI 1.svg', '/javascript.svg','/html5.svg', '/css.svg']}
		/>
		<Experience 
			cargo="Web Developer" 
			initial="Octubre, 2019" 
			finish="Julio, 2021" 
			company="UAssistMe"
			descript="Desarrollo de webapp para control de empleados 'AppUassistme' utilizando framework Laravel, tambi茅n desarrolle sitios web con Wordpress y theme Divi."
			technologies={['/php_dark.svg','/wordpress.svg', '/DIVI 1.svg', '/javascript.svg', '/csharp.svg', '/html5.svg', '/css.svg', '/bootstrap.svg']}
		/>
		<Experience 
			cargo="Web Developer" 
			initial="Octubre, 2018" 
			finish="Julio, 2019" 
			company="Dive_ Digital"
			descript="Desarrollo de landing pages utilizando Wordpress, Javascript, HTML, CSS, CronJobs en servidor apache."
			technologies={['/php_dark.svg','/wordpress.svg', '/javascript.svg', '/html5.svg', '/css.svg']}
		/>
		<Experience
			cargo="Jr Developer"
			initial="Marzo, 2018"
			finish="Agosto, 2018"
			company="Avalogics"
			descript="Desarrollo de sitios web utilizando JavaScript, HTML, CSS, conociendo por primera vez el uso de Wordpress."
			technologies={['/php_dark.svg','/wordpress.svg', '/DIVI 1.svg', '/javascript.svg', '/html5.svg', '/css.svg']}
		/>
	</section>
	<section class="bg-slate-800 py-6 px-10 mt-8 rounded-lg">
		<h2 class="text-3xl pb-4">Portafolio</h2>
		<div class="grid grid-cols-2 md:grid-cols-3 gap-2">
			<Proyects
				title="Proyecto 1"
				image="/logo-color.svg"
				descript="Descripci贸n del proyecto"
			/>
			<Proyects
				title="Proyecto 1"
				image="/logo-color.svg"
				descript="Descripci贸n del proyecto"
			/>
			<Proyects
				title="Proyecto 1"
				image="/logo-color.svg"
				descript="Descripci贸n del proyecto"
			/>
			<Proyects
				title="Proyecto 1"
				image="/logo-color.svg"
				descript="Descripci贸n del proyecto"
			/>
		</div>
	</section>
</BaseLayout>