---
---
<section class="container mx-auto grid place-content-center px-4">
    <div class="grid">
        <p>Hola 游녦 mi nombre es Abinadi, soy ingeniero en Ciencias de la computaci칩n, con m치s de 7 a침os de experiencia en la creaci칩n de
            aplicaciones web. Especializado en JavaScript, HTML, CSS, Laravel, Astro, React y Wordpress.
        </p>

        <p class="text-sm text-slate-300">(Actualmente aprendiendo Python.)</p>
    </div>
</section>