---
---

<nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex flex-shrink-0 items-center">
                    <span class="text-sky-500">Abin</span><span class="text-cyan-700">adi</span>
                </div>
            </div>
        </div>
    </div>
</nav>