---
---

<nav class="bg-slate-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex flex-shrink-0 items-center">
                    <a href="/">
                        <span class="text-cyan-300">Abin</span><span class="text-sky-500">adi</span>
                    </a>
                </div>
            </div>
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-end">
                <div class="flex flex-shrink-0 items-center">
                    <a href="/" class="rounded-md px-3 py-2 text-sm font-medium hover:bg-slate-700">
                        <span class="text-cyan-300">Inicio</span>
                    </a>
                    <a href="/proyectos" class="rounded-md px-3 py-2 text-sm font-medium hover:bg-slate-700">
                        <span class="text-cyan-300">Proyectos</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>