---
---
<section class="container mx-auto grid place-content-center px-4">
    <div class="flex items-center gap-4 py-10">
        <img class="bg-sky-500 text-white rounded-full size-36 grid text-xl place-content-center object-cover" src="/098A3B61-B83D-4CED-804E-A5B738D86AE3_1_105_c.jpeg" alt="un retrato de el rostro de Elmer">
        <div>
            <h1 class="text-3xl">Abinadi Henríquez</h1>
            <h2 class="text-lg text-slate-300">Desarrollador Web</h2>
            <h3 class="text-sm text-slate-400">(Full stack y apps de escritorio)</h3>
            <div>
                <a class="text-sky-300 hover:text-white cursor-pointer" href="https://github.com/Devon107" target="_blank">Github</a>
                &bull;
                <a class="text-sky-300 hover:text-white cursor-pointer" href="mailto:elmerg.uam@gmail.com">elmerg.uam@gmail.com</a>
            </div>
        </div>
    </div>
</section>